html, body {
	margin: auto;
	background:#333333;
	color: #fff;
	font-family: sans-serif;
}

@font-face {
    font-family: 'Adleit - Demo';
    src: url('https://gitlab.com/david-minaya/cocina-dominicana/blob/master/Adleit-Demo.ttf') format('truetype');
    font-weight: normal;
}

/* Logo -------------------------------------------------------- */

#borde-logo {
    width: 255px;
    height: 255px;
    margin: auto;
    margin-top: 38.5px;
    position: relative;
    background-image: url("../imagenes/borde-circular.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* 
  Cuadrado del mismo color que el fondo que esta colocado debajo 
  de la silaba Co del titulo Cocina Dominicana. Este cuadrado se
  utiliza para tapar uno de los guiones del borde del logo para
  lograr un fondo mas bonito.
*/
#parche {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #333333;
    margin-top: 54px;
}

/* Titulo */
h1 {
    font-size: 64px;
    width: 300px;
    height: 140px;
    margin-top: 32%;
    margin-left: -15px;
    letter-spacing: 0px;
    line-height: 55px;
    position: absolute;
    transform: scaleY(1.4);
    color: #FF3376;
    font-family: 'Adleit - Demo';
    text-shadow: 0px -4px 0 white;
}

/* Menu -------------------------------------------------------- */

nav {
	margin: auto;
	margin-top: 150px;
}

ul {
	padding-left: 0%;
	display: flex;
	flex-flow: row wrap;
	list-style: none;
	justify-content: space-around;
	list-style-position: inside;
}

a {
	font-size: 40px;
	font-family: 'Adleit - Demo';
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: none;
	color: #FF3376;	
}

/* Linea divisora ---------------------------------------------- */

#linea-divisora {
	width: 90vw;
	height: 10px;
	margin: auto;
	margin-top: 100px;
	background-image: url("../imagenes/item linea.png");
	background-repeat: repeat-x;
	background-repeat: space;
}

/* Recetas ----------------------------------------------------- */

section {
	margin: auto;
	margin-top: 100px;
	margin-bottom: 10px;
	padding: 20px;
	max-width: 800px;
	min-width: 400px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

/* Titulo de la seccion */
section h2 {
	flex: 0 1 100vw;
	text-align: center;
	font-family: "Adleit - demo";
	color: #FF3376;
	padding-top: 25px;
	font-size: 45px;
}

.img-receta {
	width: 305px;
	height: 305px;
	padding: 10px;
	background-image: url("../imagenes/borde-cuadrado.png");
	background-size: cover;
}

table {
	margin-top: 40px;
	margin-left: 40px; 
	border-collapse: collapse;
	min-width: 300px;
}

th {
	text-align: left;
}

th, td {
	font-size: 19px;
	padding: 5px;
}

.celda {
	padding-top: 10px;
}

/* Titulo */
h3 {
	flex: 0 1 100vw;
	padding-top: 20px;
	padding-right: 25px;
	padding-left: 25px;
	font-size: 30px;
	margin-top: 6px;
}

p {
	flex: 0 1 100vw;
	padding-right: 25px;
	padding-left: 25px;
	font-size: 18px;
	margin-top: -10px;
}